<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/home" fill="clear" color="medium">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button href="/formulaire" fill="clear" color="medium">
        <ion-icon name="pizza-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pizzaLists of pizzaList">
      <div tappable (click)="detailPizza(pizzaLists.Id)">
        <ion-label class="ion-text-wrap">
          <ion-label><strong><center>{{pizzaLists.Nom}}</center></strong></ion-label>
          <ion-label>Prix de la pizza : {{pizzaLists.Prix}} euros</ion-label>
          <img src="{{pizzaLists.Photo}}">
        </ion-label>
      </div>
      <ion-button>Suppression</ion-button>
      <ion-button>Modification</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
