

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Application Pizza Ynov</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="logo">
      <img src="../assets/img/logoPizza.jpg"/>
    </div>
    <strong>PizzaApp Ynov</strong>
    <br>
    <br>
    <ion-button  href="/pizza-list" expand="block" type="submit" class="ion-no-margin">Les Pizzas</ion-button>
    <br>
    <ion-button  href="/admin" expand="block" type="submit" class="ion-no-margin">Administration</ion-button>
  </div>
</ion-content>
